<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<div class="container-fluid" id="header-div">
		<a href="/">Home</a><br>
		<a href="/posts">Go to All Posts</a><br>
		<a href="/users">Go to Users</a><br>
		<a href="/auth/login">LOGIN IN</a><br>
		<a href="auth/logout">Log Out!</a>
	</div>
</nav>
