
<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<div class="container-fluid" id="header-div">
		<a href="/" class="link">Home</a><br>
		<a href="/posts"class="link">Go to All Posts</a><br>
		<a href="/users"class="link">Go to Users</a><br>
		<a href="/auth/login"class="link">Log In</a><br>
		<a href="/auth/logout"class="link">Log Out</a>
	</div>
</nav>

