<a href="/home">Home</a><br>
<br>
<a href="/posts">Go to All Posts</a><br>
<br>
<a href="/users">Go to Users</a><br>
<br>
<a href="/auth/login">LOGIN IN</a><br>
<br>
<a href="auth/logout">Log Out!</a>	