<div class="container-fluid" id="header-div">
<a href="/home">Home</a><br>
<a href="/posts">Go to All Posts</a><br>
<a href="/users">Go to Users</a><br>
<a href="/auth/login">LOGIN IN</a><br>
<a href="auth/logout">Log Out!</a>
</div>