<!DOCTYPE html>
<html>
<head>
	<title>Post Show Page</title>
</head>
<body>
	<h1>Post Display</h1>
	<h2> Your post name is <%= post.title %></h2>
	<h3>Your posts here: </h3>

		<form action="/post/<%= post._id%>/edit">
			<button>EDIT!</button>
		</form>
		<form action="/post/<%=post._id%>?_method=DELETE" method="POST">
			<h1>Delete Account</h1>
			<button>Delete</button>
		</form>
</body>
</html>