<!DOCTYPE html>
<html>
<head>
	<title>Create Your User</title>
</head>
<body>
	<h1>User Creation Engine</h1>
	<form action="/user" method="POST">
		Username <input type="text" name="username">
		Password <input type="text" name="password">
		<button> Create User</button>
	</form>

</body>
</html>