<%- include ../partials/header.ejs %>
<!DOCTYPE html>
<html>
<head>
	<title>Create Your User</title>
</head>
<body>
	<h1>User Creation Engine</h1>
	<form action="/users" method="POST">
		Username <input type="text" name="username"><br>
		Password <input type="text" name="password"><br>
		<button> Create User</button>
	</form>

</body>
</html>