<!DOCTYPE html>
<html>
<head>
	<title>Post Index Page</title>
</head>
<body>
	<h1> Post Index Page</h1>
		<ul>
		<% for(let i = 0; i < post.length; i++) {%>
		<li>
			<a href="/post/<%=post[i]._id%>"><%= post[i].title%></a>


		</li>
		<%}%>

	</ul>

</body>
</html>