<%- include ../partials/header.ejs %>
<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h1>Post Creation Engine</h1>
		<form action="/posts" method="POST">
	Title<input type="text" name="title"><br>
	Description<br><textarea name="description">Post Here</textarea><br>
	Buy <input type="checkbox" name="Buy"> 
	Sell<input type="checkbox" name="Sell">
	Free<input type="checkbox" name="Free">
			<button> Create Post</button>
		</form>

</body>
</html>