<!DOCTYPE html>
<html>
<head>
	<title>Post Show Page</title>
</head>
<body>
	<h1>Post Display</h1>
	<h2> post name is <%= post.title %></h2>
	<h3>Post ID: <%=post._id%></h3>
	<h4>Your posts here: </h4>

		<form action="/posts/<%= post._id%>/edit">
			<button>EDIT!</button>
		</form>
		<form action="/posts/<%=post._id%>?_method=DELETE" method="POST">
			<h1>Delete Account</h1>
			<button>Delete</button>
		</form>
</body>
</html>